@font-face {
    font-family: 'zuijinregular';
    src: url(https://fastly.jsdelivr.net/gh/Crimone/crimson-anemone@main/files/zuijinregular-bold.woff2) format('woff2'),
         url(https://fastly.jsdelivr.net/gh/Crimone/crimson-anemone@main/files/zuijinregular-bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'zuijinregular';
    src: url(https://fastly.jsdelivr.net/gh/Crimone/crimson-anemone@main/files/zuijinregular-lighter.woff2) format('woff2'),
         url(https://fastly.jsdelivr.net/gh/Crimone/crimson-anemone@main/files/zuijinregular-lighter.woff) format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'zuijinregular';
    src: url(https://fastly.jsdelivr.net/gh/Crimone/crimson-anemone@main/files/zuijinregular-normal.woff2) format('woff2'),
         url(https://fastly.jsdelivr.net/gh/Crimone/crimson-anemone@main/files/zuijinregular-normal.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
